.header {
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  color: #fff;
}
a{
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
